<div
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': loveIts > 0,
    'list-group-item-danger': loveIts < 0
  }"
>
  <h3>{{ title }} : {{ created_at | date: "short" }}</h3>
  <p>{{ content }}</p>
  <button class="btn btn-success" (click)="onLoveIt()">Love It!</button>
  <button class="btn btn-danger" (click)="onDontLoveIt()">
    Don't Love It!
  </button>
</div>
