<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Love It Blog !</h2>

      <app-post-list-component
        *ngFor="let post of posts"
        [title]="post.title"
        [content]="post.content"
        [created_at]="post.created_at"
      ></app-post-list-component>
    </div>
  </div>
</div>
